$color-1:black;
$color-2:white;

$font:'Poppins', sans-serif;
$base-unit: 20px;
$h1-unit:$base-unit*3.5;
$h2-unit:$base-unit*2.5;
$h3-unit:$base-unit*1.5;

$light-blue:#94989c;
$dark-blue:#2d3235;