.c-counter{
    @extend %gradient;
    @extend %shadow-component;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 6fr 1fr;
    .count-column{
        grid-row-start: 2;
        grid-row-end: 3;
        text-align: center;
        color:$bisque;
    
    }
}


