.c-footer{
    
    background-image: url('../images/footer.jpg');
    text-align: center;
    padding: 20px;
    #a-div{
        transition-duration: 2s;
        &:hover{
            background-color: $light-blue; 
            a{ 
                color: $dark-blue;  
            }
        }
        box-sizing: border-box;
        padding:15px 0px;
        width: 50%;
        height: 60px;
        margin: 0% 25%;
        background-color: $dark-blue;
        a{  
            transition-duration: 2s;
            margin: 18.5px 0px;
            color: $light-blue;
            height: 30px;
        }
    }
    h2{
        padding: 20px 0px
    }
    #media{
        width: 350px;
    } 
}