.c-footer{
    @extend %shadow-component;
    background-color: #e3cdae;
    background-image: url('../images/footer.jpg');
    text-align: center;
    padding: 20px;
    #a-div{
        transition-duration: 2s;
        border-radius:$radius;
        &:hover{
            background-color: $bg-color; 
            a{ 
                color:  $dark-brown;
            }
        }
        box-sizing: border-box;
        padding:12px 0px;
        width: 50%;
        height: 60px;
        margin: 0% 25%;
        background-color: $dark-brown;
        a{  
            transition-duration: 2s;
            margin: 18.5px 0px;
            color: $bg-color;
            height: 30px;
        }
    }
    #a-div2{
        display: none;
        transition-duration: 2s;
        border-radius: $radius;
        &:hover{
            background-color: $bg-color; 
            a{ 
                color:  $dark-brown;
            }
        }
        box-sizing: border-box;
        padding:12px 0px;
        width: 50%;
        height: 60px;
        margin: 0% 25%;
        background-color: $dark-brown;
        a{  
            transition-duration: 2s;
            margin: 18.5px 0px;
            color: $bg-color;
            height: 30px;
        }
    }
    h2{
        padding: 20px 0px
    }
    #media{
        width: 100%;
        color:$bg-color;
        text-align: left;
        img{
            &:hover{
                opacity: 0.7;
            }
        }
    } 
    @media screen and (max-width:360px){
        max-width: 100vw;
        #a-div{
            display: none;
        }
        #a-div2{
            display: block;
            height: 90px;
            width: 60%;
            margin: 0% 20%;
             
        }
    }
    @media screen and (max-width:1167px){
        max-width: 100vw;
        #a-div{
            display: none;
        }
        #a-div2{
            display: block;
            height: 90px;
            width: 60%;
            margin: 0% 20%;
             
        }
    }
}