// główne ważne importy
@import '_reset';
@import '_variables';
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html{
    scroll-behavior: smooth;
    background-color: $bisque;
    
}
.grid-container{
    @media screen and (min-width:1351px){  
        max-width: 1350px;
    }
    margin-left: auto;
    margin-right: auto;
    line-height: 1.15;
    grid-template-rows: 600px 9fr 2fr 5fr 212px;
    font-family: $font;
    box-sizing: border-box;
    font-size: $base-unit;
    h1{
        font-size: $h1-unit
    }
    h2{
        font-size: $h2-unit
    }
    h3{
        font-size: $h3-unit
    }
    @media screen and (max-width:360px){
        grid-template-rows: 1280px 4fr 1.3fr 4.5fr 212px;
    }
}
// scss'y komponentów
@import 's-about';
@import 's-comments';
@import 's-counter';
@import 's-footer';
@import 's-main';
