// główne ważne importy
@import '_reset';
@import '_variables';
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html{
    scroll-behavior: smooth;
}
.grid-container{
    line-height: 1.15;
    display: grid;
    grid-template-rows: 600px 9fr 2fr 5fr 212px;
    // height: 2000px;
    font-family: $font;
    box-sizing: border-box;
    font-size: $base-unit;
    h1{
        font-size: $h1-unit
    }
    h2{
        font-size: $h2-unit
    }
    h3{
        font-size: $h3-unit
    }
    @media screen and (max-width:360px){
        width: 100vw;
    }
}
// scss'y komponentów
@import 's-about';
@import 's-comments';
@import 's-counter';
@import 's-footer';
@import 's-main';
