<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" type="image/png" href="./images/crown.png" sizes="32x32">
    <title>Golden's Bank</title>
</head>

<body>
    <div class="grid-container">
        {% include "./components/c-main.html" %}
        {% include "./components/c-about.html" %}
        {% include "./components/c-counter.html" %}
        {% include "./components/c-comments.html" %}
        {% include "./components/c-footer.html" %}
    </div>
    <script src="//code.jquery.com/jquery-3.1.0.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>