<div class='c-counter'>
    <div class='count-column'>
            <img src="./images/office-block.png" alt='biurowiec'>
            <h3><span class="counter">135</h3>
                <p>lokalizacji w Polsce</p>
    </div>
    <div class='count-column'>
        <img src="./images/customer.png" alt='zadowolony klient'>
            <h3><span class="counter">96778</h3>
                <p>zadowolonych klientów</p>
    </div>
    <div class='count-column'>
            <img src="./images/work-team.png" alt='partnerzy biznesowi'>
            <h3><span class="counter">26</h3>
                <p>partnerów biznesowych</p>
    </div>
</div>