<div class='c-comments'>
    <h2>FIRMA GODNA ZAUFANIA</h2>
    <div id='op1' class='opinion'>
        <div class="img-box"><img src="/" alt='zdjęcie' /></div>
        <div class='opinion-box'>
            <p class='name'>Aneta, 28 lat</p>
            <p class='comm'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                ut aliquip ex ea commodo consequat. </p>
        </div>
    </div>
    <div id='op2' class='opinion'>
        <div class="img-box"><img src="/src/images/facebook.png" alt='zdjęcie' /></div>
        <div class='opinion-box'>
            <p class='name'>Magda, 25 lat</p>
            <p class='comm'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                ut aliquip ex ea commodo consequat. </p>
        </div>
    </div>
</div>