<form class='nr4'>
        <h3>Zróbmy to razem!</h3>
        <input type="text" id='name' autocomplete='no' pattern="[A-Za-z]{3}" required placeholder="Imię">
        <input type="tel" id="telephone" autocomplete='no' required placeholder="Numer tel">
        <input type="email" id="email" autocomplete='no' required placeholder="Email">
        <p>*Chcę być informowany przez firmę Golden's Bank o dostępnych ofertach specjalnych i akcjach promocyjnych.</p>
            
        <div class='btn'><div>Dalej<i></i></div></div>
    </form>