<form class='nr3'>
    <h3>Wybierz płeć</h3>
        <select class="gender" name="gender">
            <option selected value='kobieta'>Kobieta</option>
            <option value="'mężczyzna'">Mężczyzna</option>
            <option  value="wolę nie podawać">Wolę nie podawać</option>
        </select>
        <h3>Podaj swój wiek</h3>
          <div class="slide-container">
            <input type="range" name="age" class="range" min=20 max=75 step=1 value=47>
            <span class="age">lat</span>
          </div>
    <div class='btn'><div>Dalej<i></i></div></div>
</form>