<form class='nr1'>

    <h3>Wybierz rodzaj kredytu</h3>

    <div class='option'>
        <input type="radio" name="credit-type" value="konsolidacyjny" id='konsolidacyjny' />
        <label for='konsolidacyjny'>Konsolidacyjny</label>
    </div>

    <div class='option'>
        <input type="radio" name="credit-type" value="konsumpcyjny" id='konsumpcyjny' />
        <label for='konsumpcyjny'>Konsumpcyjny</label>
    </div>

    <div class='option'>
        <input type="radio" name="credit-type" value="inwestycyjny" id='inwestycyjny' />
        <label for='inwestycyjny'>Inwestycyjny</label>
    </div>

    <div class='option'>
        <input type="radio" name="credit-type" value="hipoteczny" id='hipoteczny' />
        <label for='hipoteczny'>Hipoteczny</label>
    </div>
    <div class='btn'><div>Dalej<i></i></div></div>
</form>