<div class="c-footer">
   <div id="button">
      <h2>ZRÓBMY TO RAZEM</h2>
      <div id='a-div'><a href='#golden-logo'><h3>Wypełnij formularz</h3></a></div>
   </div>
   <div id='media'>
      <a target='_blank' href="https://en.wikipedia.org/wiki/Facebook">
      <img src="/" alt="ikona facebooka"/></a>
      <a target="_blank" href="https://pl.wikipedia.org/wiki/LinkedIn">
         <img src="/" alt="ikona linkedin"/></a>
         <a target="_blank" href="https://pl.wikipedia.org/wiki/Og%C3%B3lne_rozporz%C4%85dzenie_o_ochronie_danych">RODO</a>
   </div>
</div>