<form class='nr2'>
    <h3 id='one'>Kwota</h3>
    <div class="slide-container0">
        <input type="range" name="amount" class="rangeA" min=1 max=950 step=1 value=475>
        <span class="amount"></span>
    </div>
    <h3 id='two'>Okres kredytu</h3>
    <div class="slide-container">
        <input type="range" name="period" class="rangeP" min=3 max=30 step=1 value=16>
        <span class="period"></span>
    </div>

    <div class='btn' id='f2'>
        <div>Dalej<i></i></div>
    </div>
</form>