/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

input {
  outline: none; }

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2); }
  100% {
    box-shadow: 0 0 0 25px rgba(0, 0, 0, 0); } }

@keyframes border {
  0% {
    border-radius: 2px;
    border-color: #fbfaf9; }
  20% {
    border-color: #fbfaf9c5;
    border-radius: 2px; }
  40% {
    border-color: #fbfaf969;
    border-radius: 2px; }
  50% {
    border-color: #fbfaf93a;
    border-radius: 2px; }
  60% {
    border-radius: 2px;
    border-color: #fbfaf927; }
  70% {
    border-color: #fbfaf963;
    border-radius: 2px; }
  80% {
    border-color: #fbfaf9a8;
    border-radius: 2px; }
  90% {
    border-color: #fbfaf9de;
    border-radius: 2px; }
  100% {
    border-color: #fbfaf9c5;
    border-radius: 2px; } }

.c-about i {
  border: solid #2e281f;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 13px;
  height: 13px; }

.c-main .landing #form .nr1 .btn i, .c-main .landing #form .nr2 .btn i, .c-main .landing #form .nr3 .btn i, .c-main .landing #form .nr4 .btn i {
  border: solid #fbfaf9;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
  width: 3px;
  height: 3px; }

.c-comments .opinion {
  -webkit-box-shadow: 5px 5px 4px 0px #a6a4a6;
  -moz-box-shadow: 5px 5px 4px 0px #a6a4a6;
  box-shadow: 5px 5px 4px 0px #a6a4a6; }

.c-counter, .c-footer {
  -webkit-box-shadow: 0px -3px 3px 0px #a6a4a6;
  -moz-box-shadow: 0px -3px 3px 0px #a6a4a6;
  box-shadow: 0px -3px 3px 0px #a6a4a6; }

.c-main .landing {
  -webkit-box-shadow: 0px 0px 8px 6px rgba(166, 164, 166, 0.8);
  -moz-box-shadow: 0px 0px 8px 6px rgba(166, 164, 166, 0.8);
  box-shadow: 0px 0px 8px 6px rgba(166, 164, 166, 0.8); }

.c-main .landing #form {
  -webkit-box-shadow: 0px 0px 8px 6px rgba(58, 57, 57, 0.8);
  -moz-box-shadow: 0px 0px 8px 6px rgba(58, 57, 57, 0.8);
  box-shadow: 0px 0px 8px 6px rgba(58, 57, 57, 0.8); }

.c-counter {
  background: linear-gradient(-45deg, #504536, #2e281f, #705f55, #387599);
  background-size: 400% 400%;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite; }

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.c-main .landing #form .nr1 .option input {
  display: none; }
  .c-main .landing #form .nr1 .option input + label {
    cursor: pointer;
    line-height: 20px;
    height: 20px;
    padding-left: 20px;
    display: block;
    position: relative; }
    .c-main .landing #form .nr1 .option input + label:not(:empty) {
      padding-left: 28px; }
    .c-main .landing #form .nr1 .option input + label:before, .c-main .landing #form .nr1 .option input + label:after {
      content: "";
      width: 20px;
      height: 20px;
      display: block;
      border-radius: 50%;
      left: 0;
      top: 0;
      position: absolute; }
    .c-main .landing #form .nr1 .option input + label:before {
      background: #504536;
      transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2); }
    .c-main .landing #form .nr1 .option input + label:after {
      background: #695b48;
      transform: scale(0.78);
      transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4); }
  .c-main .landing #form .nr1 .option input:checked + label:before {
    transform: scale(1.04);
    background: #2e281f; }
  .c-main .landing #form .nr1 .option input:checked + label:after {
    transform: scale(0.4);
    transition: transform 0.3s ease; }

.c-main .landing #form .nr1 .option:hover input + label:before {
  transform: scale(0.92); }

.c-main .landing #form .nr1 .option:hover input + label:after {
  transform: scale(0.74); }

.c-main .landing #form .nr1 .option:hover input:checked + label:after {
  transform: scale(0.4); }

.c-main .landing #form .nr1, .c-main .landing #form .nr2, .c-main .landing #form .nr3, .c-main .landing #form .nr4, .c-main .landing #form .form-end {
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: #6b5c47;
  border-radius: 2px; }

.c-main .landing #form .nr1 .btn, .c-main .landing #form .nr2 .btn, .c-main .landing #form .nr3 .btn, .c-main .landing #form .nr4 .btn {
  cursor: pointer;
  border-radius: 2px;
  margin-bottom: 20px;
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
  background-color: #2e281f;
  transition-duration: 2s; }
  .c-main .landing #form .nr1 .btn:hover, .c-main .landing #form .nr2 .btn:hover, .c-main .landing #form .nr3 .btn:hover, .c-main .landing #form .nr4 .btn:hover {
    background-color: #e7e2db;
    color: #2e281f; }
    .c-main .landing #form .nr1 .btn:hover i, .c-main .landing #form .nr2 .btn:hover i, .c-main .landing #form .nr3 .btn:hover i, .c-main .landing #form .nr4 .btn:hover i {
      border: solid #2e281f;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(315deg);
      -webkit-transform: rotate(315deg);
      width: 3px;
      height: 3px; }
  .c-main .landing #form .nr1 .btn div, .c-main .landing #form .nr2 .btn div, .c-main .landing #form .nr3 .btn div, .c-main .landing #form .nr4 .btn div {
    margin-top: 13px; }
  .c-main .landing #form .nr1 .btn i, .c-main .landing #form .nr2 .btn i, .c-main .landing #form .nr3 .btn i, .c-main .landing #form .nr4 .btn i {
    transition-duration: 2s;
    margin-left: 10px; }

.alert, .c-main .landing #form .nr1 h3, .c-main .landing #form .nr2 h3, .c-main .landing #form .nr3 h3, .c-main .landing #form .nr4 h3 {
  margin-top: 10px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 4; }

.c-main .landing #form .nr3 select, .c-main .landing #form .nr4 input {
  text-align: center;
  cursor: pointer;
  background-color: #504536;
  border: 1px solid #fbfaf9;
  border-radius: 2px;
  font-size: 24px;
  color: #fbfaf9;
  margin: 14px 0px; }

.c-main .landing #form .nr4 ::-webkit-input-placeholder {
  color: #ffffffd7; }

.c-main .landing #form .nr4 :-ms-input-placeholder {
  color: #ffffffd7; }

.c-main .landing #form .nr4 ::placeholder {
  color: #ffffffd7; }

.c-main .landing #form .nr2 .slide-container0 .amount, .c-main .landing #form .nr2 .slide-container .period, .c-main .landing #form .nr3 .slide-container .age {
  -webkit-box-shadow: 0px 0px 5px 2px #87765c;
  -moz-box-shadow: 0px 0px 5px 2px #87765c;
  box-shadow: 0px 0px 5px 2px #87765c;
  border-radius: 60px;
  position: absolute;
  left: 0px;
  top: 0;
  margin-top: 10px;
  width: 100px;
  height: 30px;
  text-align: center;
  color: #fbfaf9;
  line-height: 30px;
  font-size: 20px;
  pointer-events: none; }
  .c-main .landing #form .nr2 .slide-container0 .amount::before, .c-main .landing #form .nr2 .slide-container .period::before, .c-main .landing #form .nr3 .slide-container .age::before {
    content: attr(data-val) " "; }

.c-main .landing #form .nr2 .slide-container0 .rangeA, .c-main .landing #form .nr2 .slide-container .rangeP, .c-main .landing #form .nr3 .slide-container .range {
  margin-top: 20%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #504536;
  width: 100%;
  height: 10px;
  border-radius: 50px;
  outline: none; }
  .c-main .landing #form .nr2 .slide-container0 .rangeA:active::-webkit-slider-thumb, .c-main .landing #form .nr2 .slide-container .rangeP:active::-webkit-slider-thumb, .c-main .landing #form .nr3 .slide-container .range:active::-webkit-slider-thumb {
    -webkit-box-shadow: 0px 0px 5px 2px #87765c;
    -moz-box-shadow: 0px 0px 5px 2px #87765c;
    box-shadow: 0px 0px 5px 2px #87765c; }
  .c-main .landing #form .nr2 .slide-container0 .rangeA::-webkit-slider-thumb, .c-main .landing #form .nr2 .slide-container .rangeP::-webkit-slider-thumb, .c-main .landing #form .nr3 .slide-container .range::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 30px;
    width: 30px;
    background: #2e281f;
    border-radius: 30px;
    cursor: grab;
    -webkit-box-shadow: 0px 0px 5px 2px #40382c;
    -moz-box-shadow: 0px 0px 5px 2px #40382c;
    box-shadow: 0px 0px 5px 2px #40382c; }

.alert {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0); }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0); }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0); } }

@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0); }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0); }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0); } }

html {
  scroll-behavior: smooth; }

.grid-container {
  line-height: 1.15;
  display: grid;
  grid-template-rows: 600px 9fr 2fr 5fr 212px;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  font-size: 20px; }
  .grid-container h1 {
    font-size: 70px; }
  .grid-container h2 {
    font-size: 50px; }
  .grid-container h3 {
    font-size: 30px; }
  @media screen and (max-width: 360px) {
    .grid-container {
      width: 100vw; } }

.c-about {
  background-color: #e7e2db;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 3fr;
  grid-column-gap: 40px; }
  .c-about a {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-left: 48.2%;
    margin-top: 10px; }
  .c-about i {
    margin-top: 9px; }
  .c-about .more {
    background-color: #6b5c47;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    grid-column-start: 1;
    grid-column-end: 3; }
    .c-about .more:hover {
      animation: shadow-pulse 1s infinite; }
  .c-about h1 {
    grid-column-start: 1;
    grid-column-end: 3; }
  .c-about p {
    height: 230px;
    margin-top: 35px;
    margin-left: 40px;
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 2; }
  .c-about .img-box {
    width: 600px;
    height: 300px;
    grid-column-start: 2;
    grid-column-end: 3; }

.c-comments {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 5fr 1fr;
  grid-template-rows: 1fr 3fr;
  background-color: #e7e2db; }
  .c-comments h2 {
    text-align: center;
    margin: 40px 0px 0px;
    grid-column-start: 1;
    grid-column-end: 6; }
  .c-comments .img-box {
    width: 100px;
    height: 100px;
    margin-top: 25%;
    margin-left: 10px; }
  .c-comments .opinion {
    border-radius: 2px;
    text-align: left;
    padding: 15px;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 30px 10px 50px;
    background-color: #6b5c47;
    color: #fbfaf9;
    display: grid;
    grid-template-columns: 150px 1fr; }
    .c-comments .opinion-box .name {
      margin-top: 8px;
      margin-bottom: 15px; }
    .c-comments .opinion .comm {
      font-size: 16px;
      grid-column-start: 2;
      grid-column-end: 3; }
  .c-comments #op1 {
    grid-column-start: 2;
    grid-column-end: 3; }
  .c-comments #op2 {
    grid-column-start: 4;
    grid-column-end: 5; }

.c-counter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 6fr 1fr; }
  .c-counter .count-column {
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    color: #fbfaf9; }
  @media screen and (max-width: 360px) {
    .c-counter {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 6fr 6fr 1fr; }
      .c-counter .count-column {
        grid-row-start: 2; }
        .c-counter .count-column + .c3 {
          grid-row-start: 3;
          grid-column-start: 1;
          grid-column-end: 3; } }

.c-footer {
  background-color: #e3cdae;
  background-image: url("../images/footer.jpg");
  text-align: center;
  padding: 20px; }
  .c-footer #a-div {
    transition-duration: 2s;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 12px 0px;
    width: 50%;
    height: 60px;
    margin: 0% 25%;
    background-color: #2e281f; }
    .c-footer #a-div:hover {
      background-color: #e7e2db; }
      .c-footer #a-div:hover a {
        color: #2e281f; }
    .c-footer #a-div a {
      transition-duration: 2s;
      margin: 18.5px 0px;
      color: #e7e2db;
      height: 30px; }
  .c-footer h2 {
    padding: 20px 0px; }
  .c-footer #media {
    width: 100%;
    color: #e7e2db;
    text-align: left; }
    .c-footer #media img:hover {
      opacity: 0.7; }

.c-main {
  background-color: #e7e2db;
  display: grid;
  grid-template-columns: 1fr 4.4fr 4.4fr 1fr;
  grid-template-rows: 1fr 525px; }
  .c-main .logo {
    display: grid;
    grid-template-columns: 85px 1fr 1fr;
    grid-column-start: 2;
    grid-column-end: 4; }
    .c-main .logo h3 {
      margin-top: 30px;
      height: 40px;
      margin-left: 10px;
      grid-column-start: 2;
      grid-column-end: 4; }
    .c-main .logo .img-box {
      margin: 10px;
      width: 64px;
      height: 64px; }
  .c-main .landing {
    background-image: url("../images/main.jpg");
    max-width: 1100px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    border-radius: 2px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 4fr 1fr;
    grid-template-rows: 1fr 10fr 1fr; }
    .c-main .landing #form {
      color: #fbfaf9;
      display: grid;
      grid-template-columns: 1fr;
      border-radius: 2px;
      background-color: #2e281f;
      grid-column-start: 5;
      grid-column-end: 6;
      grid-row-start: 2;
      grid-row-end: 3; }
      .c-main .landing #form .nr1 {
        display: grid; }
        .c-main .landing #form .nr1 .option {
          grid-column-start: 2;
          grid-column-end: 3; }
          .c-main .landing #form .nr1 .option label {
            font-size: 24px; }
      .c-main .landing #form .nr2 {
        display: none; }
        .c-main .landing #form .nr2 #one {
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 1;
          grid-row-end: 2; }
        .c-main .landing #form .nr2 #two {
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 3;
          grid-row-end: 4;
          margin-top: 40px; }
        .c-main .landing #form .nr2 .slide-container0 {
          margin: 0px 10px;
          position: relative;
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 2;
          grid-row-end: 3; }
          .c-main .landing #form .nr2 .slide-container0 .amount {
            margin-left: 102px; }
        .c-main .landing #form .nr2 .slide-container {
          margin: 0px 10px;
          position: relative;
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 4;
          grid-row-end: 6; }
          .c-main .landing #form .nr2 .slide-container .rangeP {
            margin-top: 27%; }
          .c-main .landing #form .nr2 .slide-container .period {
            margin-top: 10%;
            margin-left: 100px; }
      .c-main .landing #form .nr3 {
        display: none; }
        .c-main .landing #form .nr3 select {
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 2;
          grid-row-end: 3; }
        .c-main .landing #form .nr3 .slide-container {
          margin: 0px 10px;
          position: relative;
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 4;
          grid-row-end: 6; }
      .c-main .landing #form .nr4 {
        display: none; }
        .c-main .landing #form .nr4 input {
          grid-column-start: 2;
          grid-column-end: 3;
          margin: 14px 0px;
          font-size: 24px; }
          .c-main .landing #form .nr4 input:focus {
            -webkit-animation: border 2s infinite;
            /* Safari 4+ */
            -moz-animation: border 2s infinite;
            /* Fx 5+ */
            -o-animation: border 2s infinite;
            /* Opera 12+ */
            animation: border 2s infinite; }
          .c-main .landing #form .nr4 input #name {
            grid-row-start: 2;
            grid-row-end: 3; }
          .c-main .landing #form .nr4 input #telephone {
            grid-row-start: 3;
            grid-row-end: 4; }
          .c-main .landing #form .nr4 input #email {
            grid-row-start: 4;
            grid-row-end: 5; }
        .c-main .landing #form .nr4 p {
          margin: 5px 18px;
          font-size: 12px;
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 5;
          grid-row-end: 6; }
      .c-main .landing #form .form-end {
        display: none; }
        .c-main .landing #form .form-end #thanks {
          text-align: center;
          grid-row-start: 3;
          grid-row-end: 5;
          grid-column-start: 2;
          grid-column-end: 3; }
